@model IEnumerable<WebApplication1.Models.Participants>

@{
    ViewData["Title"] = "Index";
}

<h1>Домаќин: @Model.First().Name</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.First().Host">Додај учесник</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.message)
            </td>
        </tr>
}
    </tbody>
</table>
